<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Scripts and styles here -->
</head>

<body class="container">

  <header>
    <h1>Simple test application that calls APIs for cypress mock recording/playback test</h1>
    <style>
      button {
        display: block;
        position: relative;
        font-size: 24px;
        width: 80%;
        left: 10%;
        margin: 15px;
      }
    </style>
  </header>

  <section id="content">
    <%- content %>
  </section>

  <footer>
  </footer>

  <!-- Include our bundled JS -->
  <script src="/js/bundle.js"></script>
</body>

</html>